.idea
angular-tour-of-heroes-server/.idea
angular-tour-of-heroes/.idea
auction/.idea
server/.idea

angular-tour-of-heroes-server/yarn.lock
angular-tour-of-heroes/yarn.lock
auction/yarn.lock
server/yarn.lock

angular-tour-of-heroes-server/node_modules
angular-tour-of-heroes/node_modules
auction/node_modules
server/node_modules
